@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


body{
    overflow-x: hidden;
}
.navbar_maindiv{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    position: fixed;
    width: 100vw;
    background-color: #fff;
    z-index: 10000;

}

.navbar_logodiv{
    /* border: 1px solid red; */
    display: flex;
    /* justify-content: space-around; */
    width: 100%;
    height: 80%;
    margin-left: 5%;
    align-items: center;
}

.navbar_logo{
    /* border: 1px solid green; */
    height: 100%;
    width: 50%;
    background-image: url(../assets/logo.png);
    background-size: contain;
    background-repeat: no-repeat;

}
.navbar_name{
    font-size: 30px;
    margin-left: 5px;
    font-family: "Itim", cursive;
}

.navbar_aboutdiv{
    /* border: 1px solid red; */
    margin-right: 5%;
    width: 100%;
}

.navbar_textelemnt{
    /* padding-left: 5%; */
    margin-left: 30px;
    font-size: larger;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    padding: 5px;
}
select{
    border: none;
}

.navbar_textelemnt.navbar_textelemnt:hover{
    background-color: #F5F5F5;
    border-radius: 5px;
}

.middle_spacer{
    height: 10vh;
}
.homebanner_maindiv{
    width: 100vw;
    height: 80vh;
    background-image: url(../assets/bg.png);
    background-size: cover;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homebanner_content_div{
    /* border: 1px solid black; */
    height: 60%;
    width: 50%;
    margin-top: 15px;
    text-align: center;
}
.homebanner_heading{
    font-size: 55px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 200;
    margin-top: 10px;
}

.homebanner_tagline{
    margin-top: 20px;
    font-family: "DM Sans", sans-serif;
    font-size: larger;
    font-weight: 150;
}


/*  Buttons  css*/


.heading_name{
    font-weight:200;
  }
  
  .wrapper {
    display: flex;
    justify-content: center;
    margin-top: 30px;
   
  }
  
  
  
  
  .cta {
      display: flex;
      padding: 10px 45px;
      text-decoration: none;
      border-radius:30px;
      font-family: 'DM Sans';
      font-size: 30px;
      color: white;
      background: #AD343E;
      transition: 1s;
  /*     box-shadow: 6px 6px 0 black; */
  /*     transform: skewX(-15deg); */
    align-items:center;
  }
  
  .cta:focus {
     outline: none; 
  }
  
  .cta:hover {
      transition: 0.5s;
      box-shadow: 10px 10px 0 #FBC638;
      /* visibility: visible; */
  }
  
  .cta span:nth-child(2) {
      transition: 0.5s;
      margin-right: 0px;
  }
  
  .cta:hover  span:nth-child(2) {
      transition: 0.5s;
      margin-right: 45px;
  }
  
  /*   span {
      transform: skewX(15deg) 
    } */
  
    span:nth-child(2) {
      width: 20px;
      margin-left: 30px;
      position: relative;
      top: 12%;
    }
    
  /**************SVG****************/
  
  path.one {
      transition: 0.4s;
      transform: translateX(-60%);
  }
  
  path.two {
      transition: 0.5s;
      transform: translateX(-30%);
  }
  
  .cta:hover path.three {
      animation: color_anim 1s infinite 0.2s;
  }
  
  .cta:hover path.one {
      transform: translateX(0%);
      animation: color_anim 1s infinite 0.6s;
  }
  
  .cta:hover path.two {
      transform: translateX(0%);
      animation: color_anim 1s infinite 0.4s;
  }
  
  /* SVG animations */
  
  @keyframes color_anim {
      0% {
          fill: white;
      }
      50% {
          fill: #FBC638;
      }
      100% {
          fill: white;
      }
  }
  
  /* features css */

  .homepage_feature_maindiv {
    /* border: 1px solid black; */
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homepage_features_heading{
    font-size: 35px;
    font-family: "Playfair Display", serif;
    font-weight: 200;
    margin-top: 30px;
}
.homepage_feature_container {
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns per row */
    grid-row-gap: 20px;
    /* place-items: centre; */
    /* border: 1px solid green; */
    margin-top: 30px;
    margin-left: 80px;
}

.homepage_feature_contentdiv {
    /* border: 1px solid grey; */
    width:70%; 
    height: 350px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    font-family: 'DM Sans';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.homepage_features_content_image{
    /* border: 1px solid black; */
    height: 50%;
    width: 50%;
}

.homepage_features_content_heading{
    /* border: 1px solid black; */
    padding: 10px;
    /* margin-top: 5%; */
}
.homepage_features_content_tagline{
    /* border: 1px solid black; */
    padding: 10px;
    font-weight: 150;
    color: grey;
}


.homepage_aboutwebsite_maindiv{
    /* border: 1px solid black; */
    width: 100vw;
    height: 65vh;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #f5f5eb;
    display: flex;
    justify-content: space-evenly;
}
.homepage_about_videodiv{
    width: 50%;
    /* border: 1px solid ; */
    /* padding-top: 20px; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.vieo_homepage{
    height: 80%;
    width: 100%;
    /* padding: 10px; */
    border-radius: 20px;
}

.homepage_aboutus_textdiv{
    width: 30%;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'DM Sans';

    /* align-items: center; */
    /* text-align: center; */
}
.homepage_aboutus_textdiv h1{
    text-align: center;
}
.homepage_aboutus_textdiv p{
    font-weight: 200;
    line-height: 1.7;
}


/* Get started button  */
.homepage_getstarted_button{
    border-radius: 1.4em;
    background-color: white;
    font-size: 12px;
    font-family: 'DM Sans';
    display: flex;
    align-items: center;
    width: 120px;
    height: 30px;
    text-align: center;
    position: relative;
    overflow: hidden;
    color:black;
    border: 1px solid black;
    /* margin-bottom: 30px; */
    span {
      /* display: block; */
      /* position: relative; */
      margin-bottom: 5px;
    }
    &:hover em {
      transform: rotate(-15deg) translateY(-81%);
      transform-origin: left top;

    }
    em {
      position: absolute;
      width: 12em;
      height: 6em;
      background-color: #AD343E;
      left: 0;
      top: 3.8em;
      transition: all 0.8s cubic-bezier(0.39, 0.58, 0.57, 1);
      i {
        float: left;
        position: relative;
        overflow: hidden;
        width: 2em;
        height: 1em;
        margin-top: -0.5em;
        &:after, &:before {
          content: '';
          float: left;
          height: 100%;
          width: 50%;
          border-radius: 50%;
        }
        &:before {
          background-color: #AD343E;
        }
        &:after {
          background-color: white;
        }
      }
    }
  }


.homepage_networking_maindiv{
    /* border: 1px solid black; */
    height: 90vh;
    font-family: 'DM Sans';
    /* width: fit-content; */

}
.homepage_networking_maindiv_text{
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
}
.colore_red{
    color: #AD343E;
}
.homepage_networking_maindiv_img{
    /* border: 1px solid black; */
    height: 80%;
    margin-top: 20px;
    display: flex;
    justify-content: center;

}
.homepage_networking_maindiv_img img{
    height: 100%;
}

.homepage_features_content_image{
    /* background-image: url("homepage_features_content_imagehttps://cdn1.cronometer.com/webflow/cronometer-features-14.svg"); */
    background-size: contain;
}

.key_features_homepage_maindiv{
    width: 100vw;
    /* border: 1px solid red; */
    height: 70vh;
    background-color: #f5f5eb;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;

}
.key_features_homepage_maindiv_images{
    /* border: 1px solid black; */
    height: 90%;
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(../assets/img.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 80px;

}

/* habe to edit or change design */
.key_features_homepage_maindiv_text{
    /* border: 1px solid black; */
    height: 90%;
    width: 50% ;
    background-image: url(../assets/Group4.png);
    background-size: contain;
    background-repeat: no-repeat;
    /* margin-left: 50px; */

}

.homepage_joinnow_main{
    height: 25vh;
    width: 100vw;
    background-color: #AD343E;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.joinnow_text_div{
    width: 60%;
    /* border: 1px solid black; */
    font-size: 28px;
    font-family: 'DM Sans';
    color: white;
    padding: 5px;
    text-align: center;

}
.homepage_joinnow_main button{
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(28, 27, 27);
    width: 10%;
    color: white;
    border: none;
}

.homepage_feedback_maindiv{
    /* border: 1px solid black; */
    width: 100vw;
    height: 60vh;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}
.homepage_feedback_maindiv h1{
    font-family: "Playfair Display", serif;
    font-weight: 200;
}


.homepage_customer_review_maindiv{
    /* border: 1px solid red; */
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.homepage_customer_review{
    border: 1px solid black;
    height: 90%;
    width: 30%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    padding: 10px;
    font-family: 'DM Sans';

    /* align-items: center; */
}
.reviews_line{
    width: 80%;
    border: 1px solid rgb(212, 202, 202);
    align-self: center;
}
.homepage_user_profile{
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
}
.homepage_reviews_user_image{
    margin-left: 20px;
    margin-right: 40px;
}
.homepage_footer{
    border: 1px solid black;
    width: 100vw;
    height: 38vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}
.hompage_footer_description{
    /* border: 1px solid white; */
    width: 30%;
    height: 70%;
}
.hompage_footer_aboutus{
    /* border: 1px solid white; */
    width: 10%;
    height: 70%;
}
.hompage_footer_company{
    /* border: 1px solid white; */
    width: 10%;
    height: 70%;
}
.hompage_footer_getintouch{
    /* border: 1px solid white; */
    width: 30%;
    height: 70%;
}

.homepage_footer_heading{
    color: #F65F5F;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}
.homepage_footer_socailmeadia{
    /* border: 1px solid white; */
    width: 60%;
    height: 30%;
    background-image: url(../assets/Socialmedia.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 15%;
}


.hompage_footer_description p{
    color: #f5f5eb;
    font-family: 'DM Sans';
    
}
.homepage_footer_sideheading{
    color: #F65F5F;
    font-family: "Plus Jakarta Sans", sans-serif;
    text-align: center;
    margin-bottom: 10px;

}
.hompage_footer_aboutus p{
    color: white;
    font-family: 'DM Sans';
    padding: 5px;
    text-align: center;

}
.hompage_footer_company p{
    color: white;
    font-family: 'DM Sans';
    padding: 5px;
    text-align: center;

}
.hompage_footer_getintouch p{
    color: white;
    font-family: 'DM Sans';
    padding: 5px;
}

.homepage_newsletter{
    /* border: 1px solid white; */
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    width: 85%;

}
.homepage_newsletter input{
    /* border: 1px solid white; */
    height: 40px;
    width: 55%;
    border-radius: 20px;
    background-color: rgb(40, 36, 36);
    border: none;
}
.homepage_newsletter button{
    width: 30%;
    padding: 10px;
    border-radius: 20px;
    background-color: #AD343E;
    color: #f5f5eb;
    border: none;
}
.homepage_copyright{
    background-color: black;
    text-align: center;
    color: white;
    font-family: 'DM Sans';
    padding: 5px;
}

#i1{
    background-image: url(../assets/drinkwater.png);
    background-size: cover;
}
#i2{
    background-image: url(../assets/caloriescalculator.png);
    background-size: cover;


}
#i3{
    background-image: url(../assets/balanceddiet.png);
    background-size: contain;
    background-repeat: no-repeat;
}
#i4{
    background-image: url(../assets/bmi.png);
    background-size: contain;
    background-repeat: no-repeat;

}
#i5{
    background-image: url(../assets/result.png);
    background-size: contain;
    background-repeat: no-repeat;


}
#i6{
    background-image: url(../assets/contentstrategy.png);
    background-size: contain;
    background-repeat: no-repeat;
}




@media only screen and (max-width: 768px) {
    .homebanner_heading{
        font-size: 10px;
    }

}